
body {
background-color: beige;
}

.name {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    float: top, right;
    padding-top: 20px;
    padding-right: 20px;
}

h1 {
    text-align: right;
    font-weight: lighter;
}

.sections {
    align-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 50px;
}

.name a:link {
    color: black;
    text-decoration: none;
}

.name a:visited {
    color: black;
}

.name a:hover {
    color:rgb(0, 115, 255)
}

h2 {
    font-weight: lighter;
    text-align: left;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    
    padding-left: 50px;
}

h2 a:link{
    color: black;
    text-decoration: none;
}

h2 a:visited {
    color: black;
}


h2 a:hover {
    color: rgb(0, 115, 255);
}

.subtitle {
    font-weight: lighter;
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    /* padding-top: 10; */
    padding-left: 100px;
}

h3 {
    font-weight: lighter;
}

h3 a:link{
    color: black;
    text-decoration: none;
}

h3 a:visited {
    color: black;
}


h3 a:hover {
    color: rgb(0, 115, 255);
}

.subtitle {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgb(0, 115, 255);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.blog {
    font-weight: lighter;
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    
    padding-left: 50px;
}

.post {
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    text-align: left;
    padding-right: 20px;
}

